<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <link rel ="shortcut icon" href="https://www.itacarambi.mg.gov.br/img/logo_mobile.png?1678302142">
        <title>Processo Seletivo</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
    <nav>
        <div class="nav-wrapper blue darken-1">
            <a href="#!" class="brand-logo">Processo Seletivo 2024</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#"><i class="material-icons left">search</i>Buscar no Portal</a></li>
                <li><a href="#">Edital</a></li>
                <li><a href="#">Cronograma do Candidato</a></li>
            </ul>
        </div>
    </nav>
    <h4><center>Login do Candidato</center></h4>

    <div class="row">
        <div class="col s12 m4 offset-m4">
            <div class="card">
                <div class="card-action teal lighten-1 white-text">
                    <h4>Preencha os Campos Abaixo</h4>
                </div>
                <div class="card-content">
                    <div class="form-fiel">
                        <label for="username">Usuário</label>
                        <input type="text" id="username">
                    </div><br>
                    <div class="form-fiel">
                        <label for="password">Senha</label>
                        <input type="password" id="password">
                    </div><br>

                    <div class="form-fiel">
                        <input type="checkbox" id="remem">
                        <label for="remem">Lembre-se</label>
                    </div><br>
                    <div class="form-fiel">
                       <button class="btn-large waves-effect waves-dark" style="width:100%;">Entrar</button>

                    </div><br>
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
    </body>
</html>