body{
    padding:30px;
}

a:link{
    text-decoration:none;
}

.card h5{
    padding: 10px 0px;
}

.card{
    margin-bottom:20px;
    margin-right:10px;
    transition: .5s;
    background: #eee;
}

.card:hover i, h5{
    color: #c2185b;
}

.card:hover{
    transform: scale(1.03);
    background:#fff;
}
.card-h{
    height: 300px !important;
}
.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 200px;
}

.banner .carousel img {
    width: 100%;
    height: auto;
}

.banner .indicators {
    width: 80px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.7) !important;
    right: 0;
    left: auto;
    text-align: right;
    bottom: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articles {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

@media (max-width: 768px) {
    .container {
        padding: 10px 30px;
    }

    .container .carousel img {
        width: 90%;
    }
}
.textoPiscando{
    color: blue;
    animation: piscaPisca 5s infinite;

}
@keyFrames piscaPisca{
    0% {color: blue;}
    10% {color: blue;}
    15% {color: Indigo;}
    20% {color: Indigo;}
    25% {color: blue;}
    35% {color: blue;}
    40% {color: Indigo;}
    45% {color: Indigo;}
    50% {color: blue;}
    60% {color: blue;}
    65% {color: Indigo;}
    70% {color: Indigo;}
    75% {color: blue;}
    85% {color: blue;}
    90% {color: Indigo;}
    95% {color: Indigo;}
    100% {color: blue;}

}
