<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <link rel ="shortcut icon" href="https://www.itacarambi.mg.gov.br/img/logo_mobile.png?1678302142">
    <title>Cadastro</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/materialize/css/styleTest.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

<body>
    <nav>
      <div class="nav-wrapper blue darken-1">
        <a href="#!" class="brand-logo">Processo Seletivo 2024</a>
        <ul class="right hide-on-med-and-down">


          <li><a href="#">Edital</a></li>
          <li><a href="#">Cronograma do Candidato</a></li>
        </ul>
      </div>

    </nav>

    <h4><center>Cadastro de Reserva de Vagas 2024</center></h4>
    <div class="row" >
      <form id="box" class="container" method="post">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Digite seu nome completo" id="full_name" type="text" class="validate" name="nome">
            <label for="full_name">Nome Completo</label>
          </div>
        </div>

          <div class="row">
            <div class="input-field col s3">
              <input placeholder="Digite seu CPF" id="cpf" type="text" class="validate" name="cpf">
              <label for="cpf">CPF</label>
            </div>

            <div class="input-field col s3">
              <input placeholder="Digite seu RG" id="rg" type="text" class="validate" name="rg">
              <label for="rg">RG</label>
            </div>

            <div class="input-field col s3">
              <input id="data" type="date" class="validate" name="dataNascimento">
              <label for="data">Data de Nascimento</label>
            </div>

            <div class="input-field col s3">
              <input id="telefone" type="text" class="validate" name="telefone">
              <label for="telefone">Telefone</label>
            </div>
          </div>

        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Digite seu email" id="email" type="email" class="validate" name="email">
            <label for="email">Email</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Digite seu endereço completo" id="endereco" type="text" class="validate" name="endereco">
            <label for="endereco">Endereço Completo</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6" >
              <select id="select" name="vaga">
                <option value="" disabled selected>Selecione</option>
                <option value="Profº. da Educação Infantil">Profº. da Educação Infantil</option>
                <option value="Profº. dos Anos Iniciais do Ensino Fundamental">Profº. dos Anos Iniciais do Ensino Fundamental</option>
                <option value="Prof_dos_Anos_Finais_do_Ensino_Fundamental">Profº. dos Anos Finais do Ensino Fundamental</option>
                <option value="Profº. de Ed. Física para os Anos Iniciais e Finais Ens. Fundamental" >Profº. de Ed. Física para os Anos Iniciais e Finais Ens. Fundamental</option>
                <option value="Especialista em Educação">Especialista em Educação</option>
                <option value="Auxiliar de Serviço Escolar">Auxiliar de Serviço Escolar</option>
                <option value="Auxiliar de Serviços Gerais">Auxiliar de Serviços Gerais</option>
                <option value="Assistente Técnico da Educação Básica">Assistente Técnico da Educação Básica</option>
                <option value="Secretário Escolar">Secretário Escolar</option>
                <option value="Nutricionista">Nutricionista</option>
                <option value="Psicólogo">Psicólogo</option>
                <option value="Assistente Social">Assistente Social</option>
                <option value="Motorista Escolar">Motorista Escolar</option>
                <option value="Vigia Escolar">Vigia Escolar</option>
              </select>
              <label>Cargo Pleitado</label>
            </div>

            <div class="input-field col s3" id="pai">
              <div id="Prof_dos_Anos_Finais_do_Ensino_Fundamental">
                <select name="disciplina">
                  <option value="" disabled selected>Selecione</option>
                  <option value="Línqua Portuguesa">Línqua Portuguesa</option>
                  <option value="Matemática">Matemática</option>
                  <option value="História">História</option>
                  <option value="Geografia">Geografia</option>
                  <option value="Ciências">Ciências</option>
                  <option value="Inglês">Inglês</option>
                  <option value="Ensino Religioso">Ensino Religioso</option>
                  <option value="Arte">Arte</option>
                </select>
                <label>Disciplina</label>
              </div>
            </div>

        </div>
        <div class="row">
          <div class="input-field col s8">
            <input placeholder="informe o tempo em de serviço" id="tempoServico" type="text" class="validate" name="tempoServico">
            <label for="tempoServico">Tempo de Serviço no cargo pleiteado no Município de Itacarambi</label>
          </div>
        </div>


        <div class="row">
          <div class="input-field col s12">
            <select name="escolaridade">
              <option value="" disabled selected>Selecionar</option>
              <option value="Pós-graduação">Pós-Graduação</option>
              <option value="Habilitado">Habilitado</option>
              <option value="Cursando Licenciatura">Cursando Licenciatura</option>
              <option value="Cursando Bacharelado">Cursando Bacharelado</option>
              <option value="Curso Normal em Nível Médio com habilitação para a área de atuação">Curso Normal em Nível Médio com habilitação para a área de atuação</option>
              <option value="Ensino Médio Completo">Ensino Médio Completo</option>
              <option value="Ensino Médio Incompleto">Ensino Médio Incompleto</option>
              <option value="Ensino Fundamental Completo">Ensino Fundamental Completo</option>
              <option value="Ensino Fundamental Incompleto">Ensino Fundamental Incompleto</option>
              <option value="Outros">Outros</option>
            </select>
            <label>Escolaridade do Candidato</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s9">
            <select name="aperfeicoamentoProfissional">
              <option value="" disabled selected>Selecionar</option>
              <option value="Sim">Sim</option>
              <option value="Não">Não</option>
            </select>
            <label>Aperfeiçoamento Profissional</label>
            <p>Curso de Formação no Ano de 2023 (cargos: Profº. Ed. Infantil, Profº. Anos Finais do E.F, e Especialistas em Educação)</p>
          </div>

          <div class="input-field col s3">
            <input placeholder="informe a carga horária" id="cargaHoraria" type="text" class="validate" name="cargaHoraria" value="0">
            <label for="cargaHoraria">Carga Horária</label>
          </div>
      </div>

     <!--   ;-->
        <button class="btn waves-effect waves-light" type="submit" name="action">Enviar<i class="material-icons right">send</i>

        </button>
      </form>

    </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
         $('select').formSelect();


        $('#select').on('change',function(){
        var selectValor = '#'+$(this).val();
        $('#pai').children('div').hide();
        $('#pai').children(selectValor).show();

            });

      });
    </script>


</body>
</html>