<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <link rel ="shortcut icon" href="https://www.itacarambi.mg.gov.br/img/logo_mobile.png?1678302142">
    <title>Cadastro</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="/css/styleTest.css"  media="screen,projection"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Processo Seletivo 2024</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/processoSeletivo">Página Inicial</a>
        </li>

      </ul>

    </div>
  </div>
</nav>

    <br/>
      <div th:each = "m : ${msg}" class="container">
        <span th:text = "${m}"></span>

      </div>
    <br/>

    <h4><center>Cadastro de Reserva de Vagas 2024</center></h4>

    <div class="row">
    <form class="container" method="post" th:object="${candidatoObj}">
      <div class="mb-3 col s12">
        <label for="fullname" class="form-label">Nome Completo</label>
        <input placeholder="Digite seu nome completo" type="text" class="form-control validate" name="nome" id="fullname">
      </div>

      <div class="row">
        <div class="mb-3 col s3">
          <label for="cpf" class="form-label">CPF</label>
          <input placeholder="Digite seu CPF" id="cpf" type="text" class="form-control validate" name="cpf">
        </div>

        <div class="mb-3 col s3">
          <label for="rg" class="form-label">RG</label>
          <input placeholder="Digite seu RG" id="rg" type="text" class="form-control validate" name="rg">
        </div>

        <div class="mb-3 col s3">
          <label for="data" class="form-label">Data de Nascimento</label>
          <input id="data" type="date" class="validate form-control" name="dataNascimento">
        </div>

        <div class="mb-3 col s3">
          <label for="telefone" class="form-label">Telefone</label>
          <input id="telefone" type="text" class="validate form-control" name="telefone">
        </div>

      </div>

      <div class="row">
        <div class="mb-3 col s12">
          <label for="email" class="form-label">Email</label>
          <input placeholder="Digite seu email" id="email" type="email" class="validate form-control" name="email">
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col s12">
          <label for="endereco" class="form-label">Endereço Completo</label>
          <input placeholder="Digite seu endereço completo" id="endereco" type="text" class="validate form-control" name="endereco">
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-6">
          <label>Cargo Pleitado</label>
          <select class="form-select" id="select" name="vaga" onchange="cargoPleitadoFunction()"></select>
        </div>

        <div class="col-3 hidden-pai" id="pai">
          <label>Disciplina</label>
          <select class="form-select" name="disciplina">
            <option value="" disabled selected>Selecione</option>
            <option value="Língua Portuguesa">Língua Portuguesa</option>
            <option value="Matemática">Matemática</option>
            <option value="História">História</option>
            <option value="Geografia">Geografia</option>
            <option value="Ciências">Ciências</option>
            <option value="Inglês">Inglês</option>
            <option value="Ensino Religioso">Ensino Religioso</option>
            <option value="Arte">Arte</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col s3">
          <label class="form-label" for="tempoServico">Tempo de Serviço no cargo pleiteado no Município de Itacarambi</label>
          <input placeholder="informe o tempo em de serviço" id="tempoServico" type="text" class="form-control validate" name="tempoServico">
        </div>
      </div>

      <label>Escolaridade do Candidato</label>
      <div class="mb-3 form-check">
        <label class="form-check-label" for="pos">Pós-Graduação</label>
        <input class="form-check-input" id="pos" type="checkbox" onchange="posGraduacaoFunction()" value="Pós-Graduação"/>
        <input type="text" id="pos-graduacao" class="form-control validate hidden-pos-graduacao" name="posGraduacao">

        <label class="form-check-label" for="habilitado">Habilitado em:</label>
        <input class="form-check-input" id="habilitadoEm" type="checkbox" onchange="habilitadoFunction()" value="Habilitado Em" />
        <input type="text" id="habilitado" class="form-control validate hidden-habilitado" name="habilitado">

        <label class="form-check-label" for="licenciatura">Cursando Licenciatura</label>
        <input  class="form-check-input" id="licenciatura" type="checkbox" onchange="licenciaturaFunction()" value="Cursando Licenciatura"/>
        <input placeholder="ex: 5º período de Ciências Biológicas" type="text" id="cursando-licenciatura" class="form-control validate hidden-licenciatura" name="cursandoLicenciatura">

        <label class="form-check-label" for="bacharelado">Cursando Bacharelado</label>
        <input class="form-check-input" id="bacharelado" type="checkbox" onchange="bachareladoFunction()" value="Cursando Bacharelado"/>
        <input placeholder="ex: 5º período de Administração" type="text" id="cursando-bacharelado" class="form-control validate hidden-bacharelado" name="cursandoBacharelado">

        <label class="form-check-label" for="nivelMedio">Curso Normal em Nível Médio com habilitação para a área de atuação</label>
        <input class="form-check-input" id="nivelMedio" type="checkbox" onchange="nivelMedioFunction()" value="Curso Normal em Nível Médio com habilitação para a área de atuação" />
        <input type="text" id="curso-nivel-medio" class="form-control validate hidden-nivel-medio" name="cursoNivelMedio">

        <label class="form-check-label">Ensino Médio Completo</label>
        <input class="form-check-input" type="checkbox" name="ensinoMedioCompleto" value="Ensino Médio Completo"/>
        </br>
        <label class="form-check-label" for="medioIncompleto">Ensino Médio Incompleto</label>
        <input class="form-check-input" id="medioIncompleto" type="checkbox" onchange="medioIncompletoFunction()" name="ensinoMedioIncompleto" value="Ensino Médio Incompleto" />
        <div class="row hidden-medio-incompleto" id="ensino-medio-incompleto">
          <div class="mb-3 col s3 ">
            <input class="form-control validate" placeholder="ex: 1º Ano" type="text" name="escolaridadeMedioIncompleto">
          </div>
          <div class="input-field col s3">
            <p>Ano de Escolaridade Concluída</p>
          </div>
          <div class="input-field col s3">
            <input class="form-control validate" type="text" id="ano-escolaridade" name="anoConclusaoEscolaridadeMedioIncompleto">
          </div>
        </div>

        <label class="form-check-label">Ensino Fundamental Completo</label>
        <input class="form-check-input" type="checkbox" value="Ensino Fundamental Completo"/>
        </br>

        <label class="form-check-label">Ensino Fundamental Incompleto</label>
        <input class="form-check-input" type="checkbox" id="fundamentalIncompleto" onchange="fundamentalIncompletoFunction()" name="ensinoFundamentalIncompleto" value="Ensino Fundamental Incompleto"/>
        <div class="row hidden-fundamental-incompleto" id="ensino-fundamental-incompleto" >
          <div class="mb-3 col s3">
            <input placeholder="ex: 3º série" type="text"  class="form-control validate" name="escolaridadeFundamentalIncompleto">
          </div>
          <div class="mb-3 col s3">
            <p>Ano de Escolaridade Concluída</p>
          </div>
          <div class="mb-3d col s3">
            <input type="text" id="ano-escolaridade-fundamental" class="form-control validate" name="anoConclusaoEscolaridadeFundamentalIncompleto">
          </div>
        </div>

        <label class="form-check-label" for="outroEscolaridade">Outro</label>
        <input class="form-check-input" id="outroEscolaridade" type="checkbox" onchange="outroFunction()" value="Outro" />
        <input  type="text" id="outro" class="form-control validate hidden-outro" name="outro">
      </div>

      <label>Aperfeiçoamento Profissional</label>
      <div class="row">
        <div class="mb-3d col s9">
          <select class="form-select" name="aperfeicoamentoProfissional">
            <option value="" disabled selected>Selecionar</option>
            <option value="Sim">Sim</option>
            <option value="Não">Não</option>
          </select>
          <p>Curso de Formação no Ano de 2023 (cargos: Profº. Ed. Infantil, Profº. Anos Finais do E.F, e Especialistas em Educação)</p>
        </div>

        <div class="mb-3 col s3">
          <label for="cargaHoraria" class="form-label">Carga Horária</label>
          <input placeholder="informe a carga horária" id="cargaHoraria" type="text" class="form-control validate" value="0" name="cargaHoraria">
        </div>
      </div>

      <button type="submit" class="btn btn-primary" name="action">Enviar</button>
     </form>
    </div>

    <script>

       function cargoPleitadoFunction() {
          var x = document.getElementById("select").value;

          if (x === 'Profº. dos Anos Finais do Ensino Fundamental') {
            var y =  document.getElementById("pai");
            y.classList.add("show-pai");
            y.classList.remove("hidden-pai");
           }
       }


       const urlParams = new URLSearchParams(window.location.search);

          const id = urlParams.get('id');

          if (id === 'especialista'){
              const selectElement = document.getElementById('select');

              const opcaoDinamica = document.createElement('option');
              opcaoDinamica.value = 'Especialista em Educação';
              opcaoDinamica.textContent = 'Especialista em Educação';
              selectElement.appendChild(opcaoDinamica);

           }else if (id === 'peb'){
              const selectElement = document.getElementById('select');

              const opcaoDinamica = document.createElement('option');
              opcaoDinamica.value = 'Profº. da Educação Infantil';
              opcaoDinamica.textContent = 'Profº. da Educação Infantil';
              selectElement.appendChild(opcaoDinamica);

              const opcaoDinamica2 = document.createElement('option');
              opcaoDinamica2.value = 'Profº. dos Anos Iniciais do Ensino Fundamental';
              opcaoDinamica2.textContent = 'Profº. dos Anos Iniciais do Ensino Fundamental';
              selectElement.appendChild(opcaoDinamica2);

              const opcaoDinamica3 = document.createElement('option');
              opcaoDinamica3.value = 'Profº. dos Anos Finais do Ensino Fundamental';
              opcaoDinamica3.textContent = 'Profº. dos Anos Finais do Ensino Fundamental';
              selectElement.appendChild(opcaoDinamica3);

              const opcaoDinamica4 = document.createElement('option');
              opcaoDinamica4.value = 'Profº. de Ed. Física para os Anos Iniciais e Finais Ens. Fundamental';
              opcaoDinamica4.textContent = 'Profº. de Ed. Física para os Anos Iniciais e Finais Ens. Fundamental';
              selectElement.appendChild(opcaoDinamica4);


           }else if (id === 'inspetor-alunos'){
              const selectElement = document.getElementById('select');

              const opcaoDinamica = document.createElement('option');
              opcaoDinamica.value = 'Inspetor de Alunos';
              opcaoDinamica.textContent = 'Inspetor de Alunos';
              selectElement.appendChild(opcaoDinamica);
          }else if (id === 'ase'){
              const selectElement = document.getElementById('select');

              const opcaoDinamica = document.createElement('option');
              opcaoDinamica.value = 'Auxiliar de Serviço Escolar';
              opcaoDinamica.textContent = 'Auxiliar de Serviço Escolar';
              selectElement.appendChild(opcaoDinamica);

          }else if (id === 'asg'){
              const selectElement = document.getElementById('select');

              const opcaoDinamica = document.createElement('option');
              opcaoDinamica.value = 'Auxiliar de Serviços Gerais';
              opcaoDinamica.textContent = 'Auxiliar de Serviços Gerais';
              selectElement.appendChild(opcaoDinamica);

          }else if (id === 'atb'){
              const selectElement = document.getElementById('select');

              const opcaoDinamica = document.createElement('option');
              opcaoDinamica.value = 'Assistente Técnico em Educação Básica';
              opcaoDinamica.textContent = 'Assistente Técnico em Educação Básica';
              selectElement.appendChild(opcaoDinamica);

          }else if (id === 'secretario'){
              const selectElement = document.getElementById('select');

              const opcaoDinamica = document.createElement('option');
              opcaoDinamica.value = 'Secretário Escolar';
              opcaoDinamica.textContent = 'Secretário Escolar';
              selectElement.appendChild(opcaoDinamica);

          }else if (id === 'nutricionista'){
              const selectElement = document.getElementById('select');

              const opcaoDinamica = document.createElement('option');
              opcaoDinamica.value = 'Nutricionista';
              opcaoDinamica.textContent = 'Nutricionista';
              selectElement.appendChild(opcaoDinamica);

          }else if (id === 'psicologo'){
              const selectElement = document.getElementById('select');

              const opcaoDinamica = document.createElement('option');
              opcaoDinamica.value = 'Psicólogo';
              opcaoDinamica.textContent = 'Psicólogo';
              selectElement.appendChild(opcaoDinamica);

          }else if (id === 'assistente'){
              const selectElement = document.getElementById('select');

              const opcaoDinamica = document.createElement('option');
              opcaoDinamica.value = 'Assistente Social';
              opcaoDinamica.textContent = 'Assistente Social';
              selectElement.appendChild(opcaoDinamica);

          }else if (id === 'motorista'){
              const selectElement = document.getElementById('select');

              const opcaoDinamica = document.createElement('option');
              opcaoDinamica.value = 'Motorista Escolar';
              opcaoDinamica.textContent = 'Motorista Escolar';
              selectElement.appendChild(opcaoDinamica);

          }else if (id === 'vigia'){
              const selectElement = document.getElementById('select');

              const opcaoDinamica = document.createElement('option');
              opcaoDinamica.value = 'Vigia Escolar';
              opcaoDinamica.textContent = 'Vigia Escolar';
              selectElement.appendChild(opcaoDinamica);

          }


      function posGraduacaoFunction() {
                var x = document.getElementById("pos").value;

                if (x === 'Pós-Graduação') {
                  var y =  document.getElementById("pos-graduacao");
                  y.classList.add("show-pos-graduacao");
                  y.classList.toggle("hidden-pos-graduacao");
                }
        }
      function habilitadoFunction() {
                var x = document.getElementById("habilitadoEm").value;

                if (x === 'Habilitado Em') {
                  var y =  document.getElementById("habilitado");
                  y.classList.add("show-habilitado");
                  y.classList.toggle("hidden-habilitado");

                }
      }

       function licenciaturaFunction() {
                var x = document.getElementById("licenciatura").value;

                if (x === 'Cursando Licenciatura') {
                  var y =  document.getElementById("cursando-licenciatura");
                  y.classList.add("show-licenciatura");
                  y.classList.toggle("hidden-licenciatura");
                }
       }

        function bachareladoFunction() {
                var x = document.getElementById("bacharelado").value;

                if (x === 'Cursando Bacharelado') {
                  var y =  document.getElementById("cursando-bacharelado");
                  y.classList.add("show-bacharelado");
                  y.classList.toggle("hidden-bacharelado");
                }
        }
        function nivelMedioFunction() {
                var x = document.getElementById("nivelMedio").value;

                if (x === 'Curso Normal em Nível Médio com habilitação para a área de atuação') {
                  var y =  document.getElementById("curso-nivel-medio");
                  y.classList.add("show-nivel-medio");
                  y.classList.remove("hidden-nivel-medio");
                }
        }

        function medioIncompletoFunction() {
                var x = document.getElementById("medioIncompleto").value;

                if (x === 'Ensino Médio Incompleto') {
                  var y =  document.getElementById("ensino-medio-incompleto");
                  y.classList.add("show-medio-incompleto");
                  y.classList.remove("hidden-medio-incompleto");
                }
        }

         function fundamentalIncompletoFunction() {
                var x = document.getElementById("fundamentalIncompleto").value;

                if (x === 'Ensino Fundamental Incompleto') {
                    var y =  document.getElementById("ensino-fundamental-incompleto");
                    y.classList.add("show-fundamental-incompleto");
                    y.classList.remove("hidden-fundamental-incompleto");
                  }
                }
        function outroFunction() {
                var x = document.getElementById("outroEscolaridade").value;

                if (x === 'Outro') {
                  var y =  document.getElementById("outro");
                  y.classList.add("show-outro");
                  y.classList.remove("hidden-outro");
                }
        }



</script>

  </body>
</html>