<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel ="shortcut icon" href="https://www.itacarambi.mg.gov.br/img/logo_mobile.png?1678302142">
    <title>Listar Candidatos</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/styleVisibility.css"  media="screen,projection"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/processoSeletivo">Processo Seletivo</a></li>
                <li class="breadcrumb-item active" aria-current="page">Candidatos</li>
            </ol>
        </div>
    </div>
</nav>

</br>

   <div class="container">
        <div class="row">
            <div class="col">
                <h4>Lista dos Candidatos Inscritos</h4></br>
                <h5>Assistente Social</h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Cargo Pleitado</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="candidato : ${candidatos}">
                        <td class="center"><span th:text="${candidato.codigo}">Código</span></td>
                        <td class="center"><a th:href="${(#mvc.url('SC#detalhesCandidato').arg(0, candidato.codigo)).build()}"><span th:text="${candidato.nome}">Nome</span></a></td>
                        <td class="center"><span th:text="${candidato.cpf}">CPF</span></td>
                        <td class="center"><span th:text="${candidato.vaga}">Cargo Pleitado</span></td>
                    </tr>
                    </tbody>

                </table>
                <h5>Assistente Técnico da Educação Básica</h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Cargo Pleitado</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="candidato : ${candidatos}">
                        <td class="center"><span th:text="${candidato.codigo}">Código</span></td>
                        <td class="center"><a th:href="${(#mvc.url('SC#detalhesCandidato').arg(0, candidato.codigo)).build()}"><span th:text="${candidato.nome}">Nome</span></a></td>
                        <td class="center"><span th:text="${candidato.cpf}">CPF</span></td>
                        <td class="center"><span th:text="${candidato.vaga}">Cargo Pleitado</span></td>
                    </tr>
                    </tbody>

                </table>
                <h5>Auxiliar de Serviço Escolar</h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Cargo Pleitado</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="candidato : ${candidatos}">
                        <td class="center"><span th:text="${candidato.codigo}">Código</span></td>
                        <td class="center"><a th:href="${(#mvc.url('SC#detalhesCandidato').arg(0, candidato.codigo)).build()}"><span th:text="${candidato.nome}">Nome</span></a></td>
                        <td class="center"><span th:text="${candidato.cpf}">CPF</span></td>
                        <td class="center"><span th:text="${candidato.vaga}">Cargo Pleitado</span></td>
                    </tr>
                    </tbody>

                </table>

                <h5>Auxiliar de Serviços Gerais</h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Cargo Pleitado</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="candidato : ${candidatos}">
                        <td class="center"><span th:text="${candidato.codigo}">Código</span></td>
                        <td class="center"><a th:href="${(#mvc.url('SC#detalhesCandidato').arg(0, candidato.codigo)).build()}"><span th:text="${candidato.nome}">Nome</span></a></td>
                        <td class="center"><span th:text="${candidato.cpf}">CPF</span></td>
                        <td class="center"><span th:text="${candidato.vaga}">Cargo Pleitado</span></td>
                    </tr>
                    </tbody>

                </table>
                <h5>Especialista em Educação Básica</h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Cargo Pleitado</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="candidato : ${candidatos}">
                        <td class="center"><span th:text="${candidato.codigo}">Código</span></td>
                        <td class="center"><a th:href="${(#mvc.url('SC#detalhesCandidato').arg(0, candidato.codigo)).build()}"><span th:text="${candidato.nome}">Nome</span></a></td>
                        <td class="center"><span th:text="${candidato.cpf}">CPF</span></td>
                        <td class="center"><span th:text="${candidato.vaga}">Cargo Pleitado</span></td>
                    </tr>
                    </tbody>

                </table>

                <h5>Inspetor de Alunos</h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Cargo Pleitado</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="candidato : ${candidatos}">
                        <td class="center"><span th:text="${candidato.codigo}">Código</span></td>
                        <td class="center"><a th:href="${(#mvc.url('SC#detalhesCandidato').arg(0, candidato.codigo)).build()}"><span th:text="${candidato.nome}">Nome</span></a></td>
                        <td class="center"><span th:text="${candidato.cpf}">CPF</span></td>
                        <td class="center"><span th:text="${candidato.vaga}">Cargo Pleitado</span></td>
                    </tr>
                    </tbody>

                </table>
                <h5>Motorista Escolar</h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Cargo Pleitado</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="candidato : ${candidatos}">
                        <td class="center"><span th:text="${candidato.codigo}">Código</span></td>
                        <td class="center"><a th:href="${(#mvc.url('SC#detalhesCandidato').arg(0, candidato.codigo)).build()}"><span th:text="${candidato.nome}">Nome</span></a></td>
                        <td class="center"><span th:text="${candidato.cpf}">CPF</span></td>
                        <td class="center"><span th:text="${candidato.vaga}">Cargo Pleitado</span></td>
                    </tr>
                    </tbody>

                </table>
                <h5>Nutricionista</h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Cargo Pleitado</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="candidato : ${candidatos}">
                        <td class="center"><span th:text="${candidato.codigo}">Código</span></td>
                        <td class="center"><a th:href="${(#mvc.url('SC#detalhesCandidato').arg(0, candidato.codigo)).build()}"><span th:text="${candidato.nome}">Nome</span></a></td>
                        <td class="center"><span th:text="${candidato.cpf}">CPF</span></td>
                        <td class="center"><span th:text="${candidato.vaga}">Cargo Pleitado</span></td>
                    </tr>
                    </tbody>

                </table>
                <h5>Professor da Educação Básica</h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Cargo Pleitado</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="candidato : ${candidatos}">
                        <td class="center"><span th:text="${candidato.codigo}">Código</span></td>
                        <td class="center"><a th:href="${(#mvc.url('SC#detalhesCandidato').arg(0, candidato.codigo)).build()}"><span th:text="${candidato.nome}">Nome</span></a></td>
                        <td class="center"><span th:text="${candidato.cpf}">CPF</span></td>
                        <td class="center"><span th:text="${candidato.vaga}">Cargo Pleitado</span></td>
                    </tr>
                    </tbody>

                </table>
                <h5>Psicólogo</h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Cargo Pleitado</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="candidato : ${candidatos}">
                        <td class="center"><span th:text="${candidato.codigo}">Código</span></td>
                        <td class="center"><a th:href="${(#mvc.url('SC#detalhesCandidato').arg(0, candidato.codigo)).build()}"><span th:text="${candidato.nome}">Nome</span></a></td>
                        <td class="center"><span th:text="${candidato.cpf}">CPF</span></td>
                        <td class="center"><span th:text="${candidato.vaga}">Cargo Pleitado</span></td>
                    </tr>
                    </tbody>

                </table>
                <h5>Secretário Escolar</h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Cargo Pleitado</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="candidato : ${candidatos}">
                        <td class="center"><span th:text="${candidato.codigo}">Código</span></td>
                        <td class="center"><a th:href="${(#mvc.url('SC#detalhesCandidato').arg(0, candidato.codigo)).build()}"><span th:text="${candidato.nome}">Nome</span></a></td>
                        <td class="center"><span th:text="${candidato.cpf}">CPF</span></td>
                        <td class="center"><span th:text="${candidato.vaga}">Cargo Pleitado</span></td>
                    </tr>
                    </tbody>

                </table>
                <h5>Vigia Escolar</h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Cargo Pleitado</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="candidato : ${candidatos}">
                        <td class="center"><span th:text="${candidato.codigo}">Código</span></td>
                        <td class="center"><a th:href="${(#mvc.url('SC#detalhesCandidato').arg(0, candidato.codigo)).build()}"><span th:text="${candidato.nome}">Nome</span></a></td>
                        <td class="center"><span th:text="${candidato.cpf}">CPF</span></td>
                        <td class="center"><span th:text="${candidato.vaga}">Cargo Pleitado</span></td>
                    </tr>
                    </tbody>

                </table>

            </div>

        </div>

    </div>




    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>